/*
    base：従来のreset.cssのようなもののみ（★★:root以外は基本的に編集しない★★）
    ※tailwindcssのBase Styles（https://v3.tailwindcss.com/docs/preflight）
*/
@tailwind base;
@layer base {
    html {
        -webkit-tap-highlight-color: transparent;
        scrollbar-gutter: stable;
    }
    body {
        /* @apply text-basic font-sans tracking-wider antialiased overflow-x-hidden */
        @apply text-basic font-sans antialiased overflow-x-hidden relative w-full leading-relaxed;
        letter-spacing: 0;
        word-wrap: break-word;
        overflow-wrap: anywhere;
        word-break: normal;
        line-break: strict;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply leading-relaxed
    }
    @screen lg {
        h1, h2, h3, h4, h5, h6 {
            @apply leading-snug
        }
    }
    a {
        @apply transition-all duration-300 hover:text-main
    }
    img {
        @apply w-auto;
    }

    /* S: form関係 */
    input[type='button'], input[type='reset'], input[type='submit'] {
        @apply cursor-pointer;
		-webkit-appearance: button;
    }
    input[type='button'][disabled], input[type='reset'][disabled], input[type='submit'][disabled] {
        @apply cursor-default;
    }
    input[type='checkbox'], input[type='radio'] {
        @apply relative cursor-pointer;
		top: .15em;
		width: 1em;
		height: 1em;
		margin: 0 5px 0 0;
		padding: 0;
		vertical-align: baseline;
	}
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        height: auto;
	}
    input[type='search']::-webkit-outer-spin-button {
		box-sizing: content-box;
		-webkit-appearance: textfield;
	}
    input[type='search']::-webkit-outer-spin-button::-webkit-search-cancel-button
    input[type='search']::-webkit-outer-spin-button::-webkit-search-decoration {
        -webkit-appearance: none
    }
    input[type="text"], input[type="password"], input[type="email"], input[type="search"], input[type="url"],
    input[type="tel"], input[type="number"], input[type="date"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="time"],
    select, textarea {
        @apply w-full align-top h-11 px-3.5 py-2 border border-gray-200 rounded text-basic transition duration-200
        focus:outline-none
        focus-visible:outline-2 focus-visible:-outline-offset-1 focus-visible:outline-black
    }
    textarea {
        @apply h-auto;
    }

    input[type="file"] {
        @apply w-full max-w-md cursor-pointer;
    }
    input[type="file"]::file-selector-button {
        @apply px-2.5 py-2 mr-3 leading-none bg-gray-200 border-transparent rounded cursor-pointer;
    }

    label {
        @apply relative block cursor-pointer;
    }

    select {
        @apply w-auto;
        padding-inline: 15px 35px !important;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEzIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+IDxwYXRoIGQ9Ik0xIDFMNi41IDYuNUwxMiAxIiBzdHJva2U9IiMzMzMzMzMiLz4gPC9zdmc+");
        background-repeat: no-repeat;
        background-size: 12px auto;
        background-position: calc(100% - 8px) center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none
    }
    /* E: form関係 */
}