@charset "utf-8";
@use "./common/config" as conf;
@use "./common/post" as post;

/*==================================================
** editor
==================================================*/
html {
    :where(.editor-styles-wrapper) {
        font-family: var(--post-font);
    }
}
.wp-block-post-content {
    max-width: 840px;
    margin-right: auto;
    margin-left: auto;
}
#tinymce {
    font-family: var(--post-font);
    line-height: 1.8;
}
@include post.post-styles;